/* 火狐表单自动填充样式兼容 */
input {
  filter: none !important;
}
/* chrome 表单自动填充样式兼容 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition-delay: 99999s;
  transition: color 99999s ease-out, background-color 99999s ease-out;
}

/* 自定义滚动条 */
/* 滚动条整体宽度 */
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}
/* 滚动条样式 */
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: hsla(var(--b3));
}
::-webkit-scrollbar-thumb :hover,
::-webkit-scrollbar-thumb :active {
  background: hsla(var(--b3));
}
::-webkit-scrollbar-corner {
  background: transparent;
}
